*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
}
.mainbg{
    height: 100vh;
    width: 100%;
    background-color: rgb(6, 3, 44);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    margin: 120px auto;
    height: 90px;
    width: 300px;
    background-color: rgb(229, 236, 200);
    border: 3px solid rgb(248, 244, 11);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: 8px 8px 10px rgba(255,255,255,0.7),-8px -8px 10px rgba(255,255,255,0.7);
    /*box-shadow: 0,0,10px rgba(172,109,151,0.8);
    */
}
#clock{
    font-size: 45px;
    /* height: 25px; */
    width: auto;
    
    margin: 15px auto;
    margin-left: 38px;
    color: rgb(238, 54, 8);
}